main {
    max-width: 1600px;
    min-width: 1400px;
    max-height: 700px;
    min-height: 500px;
    background: rgb(247, 237, 255);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    overflow: auto;
    border: 1px solid black;
    padding: 5px;
}

section {
    text-align: left;
    width: 300px;
    height: 200px;
    background: rgb(203, 167, 122);
    padding: 30px;
    border-radius: 30px; 
    border: 1px solid black;
    box-shadow: inset 0px 0px 15px 1px rgb(58, 58, 58);
    margin: 10px;
    display: inline-block;
}